body{
   color:rgb(32, 4, 58); 
    background: black; 
    font-family: "Playfair Display", serif;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background: rgb(102, 102, 240);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    color: white;
    font-size: 40px;
    border-bottom: solid 3px white; 
    padding: 20px;
}